/**
 * font shiz
 */

@font-face {
    font-family: 'icons';
    src:url('fonts/icons.eot?-8j7qy');
    src:url('fonts/icons.eot?#iefix-8j7qy') format('embedded-opentype'),
    url('fonts/icons.ttf?-8j7qy') format('truetype'),
    url('fonts/icons.woff?-8j7qy') format('woff'),
    url('fonts/icons.svg?-8j7qy#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*="icon-"] {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e600";
}
.icon-search:before {
    content: "\e601";
}
.icon-close:before {
    content: "\e603";
}
.icon-phone:before {
    content: "\e604";
}
.icon-menu:before {
    content: "\e605";
}
.icon-github:before {
    content: "\e602";
}

/**
 * nav shiz
 */


.panel {
    background-color:#fa6308;
    border-radius: 0 0 16px 16px;
    width: 100%;
    margin: 0 0 0 5px;
    padding: 0 0 0 13px;
}

.panel-button {
    background-color:#f3fc25; /* default button color */
    border-radius: 13px;
    border: #fff 7px solid;
    box-shadow: 0 0 0 5px #33180F;
    width:103px;
    height:80px;
    text-align: center;
    display: inline-block;
    margin: 5px 13px 13px 0; /* a bit specific */
}

.panel-button-label {
    font-size:33px;
    font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    font-weight:bold;
    line-height: 188%;
    vertical-align: super;
}

.panel-tab {
    display: inline;
    position: relative;
    top: -1px;
    left: 80%;
    border-radius: 0 0 12px 12px;
    font-size:33px;
    padding: 0 10px;
}

.icon {
    font-size: 40px;
    line-height: 160%;
    vertical-align: baseline;
}

.background-orange {
    background-color:#fa6308;
}

.background-green {
    background-color:#228300;
}

.background-blue {
    background-color:#0091cb;
}

.background-red {
    background-color:#dc330b;
}

.background-white {
    background-color: #ffffff;
}

.background-black {
    background-color: #000000;
}